<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="commerceRuntime" type="Microsoft.Dynamics.Commerce.Runtime.Configuration.CommerceRuntimeSection, Microsoft.Dynamics.Commerce.Runtime.ConfigurationProviders, Version=6.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Host" value="ax7.reference.storefront.com" />
    <add key="UserName" value="sitecore\admin" />
    <add key="Password" value="b" />
    <add key="SitecoreDatabase" value="master" />
    <add key="TenantName" value="Commerce Tenant" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <commerceRuntime configSource="commerceRuntime.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.14.0.0" newVersion="6.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.0.0" newVersion="5.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.14.0.0" newVersion="6.14.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <!-- this registers the listener with traces from a specific source -->
      <source name="RetailNetTracer" switchValue="Information">
        <listeners>
          <!-- Unblock the below code to turn on trace file. Make sure write permission is granted to the file folder. -->
          <add name="RollingXmlWriterTraceListener" />
        </listeners>
      </source>
      <source name="RetailNetTracerEventLog" switchValue="Information">
        <listeners>
          <add name="EventLogTraceListener" />
        </listeners>
      </source>
      <!-- The below source and listener are required for Retail monitoring to function correctly. Please do not modify either. -->
      <source name="RetailMonitoringTracer" switchValue="Information">
        <listeners>
          <add name="MonitoringEventLogTraceListener" />
        </listeners>
      </source>
    </sources>
    <!-- this defines a listener -->
    <sharedListeners>
      <!-- initializeData is the file name.  If empty, it is going to be created in %TEMP%\RetailLogs\<name of exe> -->
      <add name="RollingXmlWriterTraceListener" type="Microsoft.Dynamics.Retail.Diagnostics.Sinks.RollingXmlWriterTraceListener, Microsoft.Dynamics.Retail.Diagnostics.Sinks" MaxLogFileInBytes="50000000" initializeData="c:\temp\retail.svclog" traceOutputOptions="ProcessId, DateTime, LogicalOperationStack" />
      <add name="EventLogTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Microsoft Dynamics AX Retail : Sitecore routing console" />
      <!-- This listener is required for Retail monitoring to function correctly.  Please do not modify it. -->
      <add name="MonitoringEventLogTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Microsoft Dynamics AX Retail : Sitecore routing console" />
    </sharedListeners>
    <!-- this configures tracing -->
    <trace autoflush="true">
      <listeners>
        <remove name="Default" />
        <add name="RollingXmlWriterTraceListener" />
        <add name="EventLogTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
